body
{
    background-color: lightgrey;
}
.container
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1
{
    font-size: 300%;
    border: solid black 2px;
    background-color: white;
    text-align: center;
}
input
{
    background-color: white;
    width: 200px;
    height: 30px;
}